body {
  background-color: #2b2b2b;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
}

body > * {
  box-sizing: border-box;
}

body::before {
  background-image: url("../imagens/Código\ 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  mix-blend-mode: soft-light;
}

.principal {
  padding-top: 50px;
  position: relative;
  max-width: 1200px;
  margin: 0 auto 50px;
}
.menu {
  margin: 0 auto;
}
.menu a {
  color: #caffcc;
  text-decoration: none;
  font-family: "Montserrat";
  padding-bottom: 2px;
  font-size: 24px;
  margin-right: 100px;
}

.menu a.active {
  border-bottom: 2px solid #caffcc;
}

.menu-button{
  display: none;
}
.conteudo {
  margin: 50px 0 0;
  display: flex;
  max-width: 132;
}

.sobre,
.habilidades,
.contato,
.inicio {
  margin-right: 200px;
  width: 50%;
}

h1 {
  font-family: "Krona One", sans-serif;
  font-size: 36px;
  color: #fff;
}

h1 span {
  color: #caffcc;
}

h2,
p,
label {
  font-size: 24px;
  margin-bottom: 0;
}

.redes {
  margin: 80px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  background-color: transparent;
  border: 4px solid #caffcc;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  margin-top: 32px;
  color: #fff;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.button:hover {
  background-color: #caffcc;
  color: #2b2b2b;
}

.button:active {
  background-color: #caffcc;
  border-color: #6ebf7b;
  color: #2b2b2b;
}

.button .icon{
  display: block;
  width: 32px;
  height: 32px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.button .icon.github{
  background-image: url(../imagens/github.svg);
}

.button:hover .icon.github, .button:active .icon.github{
  background-image: url(../imagens/github_hover.svg);
}

.button .icon.linkedin{
  background-image: url(../imagens/linkedin.svg);
}

.button:hover .icon.linkedin, .button:active .icon.linkedin{
  background-image: url(../imagens/linkedin_hover.svg);
}

.foto {
  width: 50%;
  position: relative;
  margin-top: 80px;
}

.foto img{
  width: 80%;
  border-radius: 20px;
}

.contato label {
  font-family: "Krona one", sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.contato input,
.contato textarea {
  padding: 20px 20px;
  border-radius: 8px;
  background-color: #2b2b2b;
  border: 1px solid #caffcc;
  margin: 8px 0 31px;
  width: 100%;
  box-sizing: border-box;
  font-family: "Krona one", sans-serif;
  font-size: 16px;
  color: #fff;
}

.contato input:focus,
.contato textarea:focus {
  outline: 2px solid #caffcc;
}
.contato .button {
  background-color: #caffcc;
  font-size: 24px;
  color: #1e1e1e;
  font-family: "Krona one", sans-serif;
}

.email {
  width: 100%;
}

.email .voltar {
  margin-top: 30px;
  display: flex;
  max-width: 300px;
}
footer {
  background-color: #caffcc;
  color: #2b2b2b;
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .footer {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .logos {
  display: flex;
  gap: 20px;
}

footer p {
  margin: 0;
}


@media (max-width: 996px) {
  .principal{
    padding: 40px 2rem;
  }
  .menu{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .menu a {
    margin: 16px;
  }
  .menu-button{
    display: none;
  }
  .conteudo{
    flex-direction: column-reverse;
  }

  .conteudo > div{
    width: 100%;
  }

  .foto{
    text-align: center;
    margin-bottom: 50px;
  }

  footer{
    padding: 50px;
    height: auto;
  }
  .footer{
    flex-direction: column-reverse;
  }
  .footer .logos{
    margin-top: 50px;
    justify-content: center;
    gap: 50px;
  }
}

@media (max-width: 720px) {
  .principal{
    padding: 20px 0;
  }
  p{
    font-size: 20px;
  }
  header{
    position: relative;
    padding: 0 0 1rem;
  }
  .menu-button{
    display: block;
    float: right;
    width: 44px;
    height: 40px;
    background: url(../imagens/Frame.svg);
    border: none;
    z-index: 5;
    margin-right: 2rem;
  }
  .menu-button.open{
    background: url(../imagens/Close.svg);
  }
  .menu{
    display: none;
  }
  .menu.open{
    position: absolute;
    top: 50px;
    z-index: 3;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background: rgba(43, 43, 43, 0.95);
    border-bottom: 4px solid #caffcc;
  }
  .conteudo{
    padding: 0 2rem;
  }
  .conteudo > div{
    margin: 10px 0;
  }
  .redes{
    margin: 0 10px;
  }

  .contato label{
    font-size: 20px;
  }
}